.search-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

#searchCourse {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px; /* Tamaño del campo de entrada */
}